:root {
	--hue: 220deg;
	--corner-radius: 2px;
	--color: oklch(50% 60% var(--hue));
	--secondary: oklch(50% 40% calc(var(--hue) + 10deg));
}

[contenteditable] { white-space: pre }

#elevator-pitch {
	& .big {
		font-size: 1.4em;
	}

	& em {
		font-style: unset;
		color: var(--secondary-4);
		@container style(--color-scheme: dark) {
			color: var(--secondary-7);
		}
	}
}

p.important {
	font-size: 1.2em;
}

page-hero {
	background-image:
		radial-gradient(ellipse at 100% -40%, transparent, oklch(from var(--color) 60% 83% h / 4.35%) 70%, transparent 70%),
		radial-gradient(ellipse at -40% -20%, transparent, oklch(from var(--color) 60% 86% h / 2.28%) 60%, transparent 60%),
		radial-gradient(ellipse at 180% 180%, transparent, oklch(from var(--color) 60% 86% h / 2.28%) 60%, transparent 60%),
		linear-gradient(to top left, oklch(from var(--color) 50% 66.77% h / 6.67%), transparent),
		linear-gradient(to top right, oklch(from var(--color) 63.33% 80% h / 6.67%), transparent);
	@container style(--color-scheme: light) {
		background-image:
			radial-gradient(ellipse at 100% -40%, transparent, oklch(from var(--color) 60% 53% h / 8.35%) 70%, transparent 70%),
			radial-gradient(ellipse at -40% -20%, transparent, oklch(from var(--color) 60% 56% h / 4.28%) 60%, transparent 60%),
			radial-gradient(ellipse at 180% 180%, transparent, oklch(from var(--color) 60% 56% h / 4.28%) 60%, transparent 60%),
			linear-gradient(to top left, oklch(from var(--color) 50% 66.77% h / 9.67%), transparent),
			linear-gradient(to top right, oklch(from var(--color) 63.33% 80% h / 10.67%), transparent);
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		height: .1rem;
		left: 0;
		right: 0;
		background-image: linear-gradient(to right in oklch, #0060, #def6, #0060);
		filter: saturate(.4);
		@container style(--color-scheme: light) {
			background-image: linear-gradient(to right in oklch, #0060, oklch(from var(--color) 60% 80% h / 60%), #0060);
		}
	}
}

.jsdelivr-badge {
	filter: saturate(.9) hue-rotate(calc(315deg + var(--hue))) brightness(1);
	border-radius: .2em;
	width: clamp(9em, 12vw, 11em);
	@media (width < 28em) {
		display: none;
	}
}

skooma-showcase {
	--padding: .6em;
	border-radius: var(--corner-radius);
	padding: var(--padding);
	background-color: #fff1;
	--hr-color: var(--primary-4);
	tab-size: 3;
}

type-writer {
	font-weight: bold;
	&:defined::after {
		content: "|";
		opacity: 0.5;
	}
}

main {
	line-height: 1.2em;

	p {
		line-height: 1.6em;
	}
}

code {
	.hljs-keyword { color: oklch(80% 90% calc(var(--hue) + 60deg)); }
	.hljs-title.function_ { color: oklch(70% 60% var(--hue)); }
	.hljs-title.class_ { color: oklch(70% 60% calc(var(--hue) - 20deg)); }
	.hljs-string { color: oklch(80% 60% calc(var(--hue) + 50deg)); }
	.hljs-attr { color: oklch(90% 70% calc(var(--hue) + 100deg)); }
	.hljs-property { color: oklch(90% 70% calc(var(--hue) + 130deg)); }
	.hljs-name { color: oklch(70% 60% var(--hue)); }

	@container style(--color-scheme: light) {
		.hljs-keyword { color: oklch(50% 90% calc(var(--hue) + 60deg)); }
		.hljs-title.function_ { color: oklch(50% 60% var(--hue)); }
		.hljs-title.class_ { color: oklch(50% 60% calc(var(--hue) - 20deg)); }
		.hljs-string { color: oklch(50% 80% calc(var(--hue) + 50deg)); }
		.hljs-attr { color: oklch(40% 80% calc(var(--hue)+ 100deg)); }
		.hljs-property { color: oklch(40% 80% calc(var(--hue) + 130deg)); }
		.hljs-name { color: oklch(50% 60% var(--hue)); }
	}
}
