@property --hue {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}

@keyframes huerotate {
	from { --hue: 0deg; }
	to { --hue: 360deg; }
}

:root {
	--hue: 220deg;
	--corner-radius: 2px;
	--color: oklch(50% 80% var(--hue));
	--secondary: oklch( 70% 50% calc(var(--hue) + 10deg));

	animation: huerotate 9s linear infinite;
}

[contenteditable] { white-space: pre }

#elevator-pitch {
	& .big {
		font-size: 1.4em;
	}

	& em {
		font-style: unset;
		color: var(--secondary-4);
		@container style(--color-scheme: dark) {
			color: var(--secondary-7);
		}
	}
}

p.important {
	font-size: 1.2em;
}

page-hero {
	background-image:
		radial-gradient(ellipse at 100% -40%, #fff0, oklch(from var(--color) 100% 83% h / 2.35%) 70%, #fff0 70%),
		radial-gradient(ellipse at -40% -20%, #fff0, oklch(from var(--color) 100% 76% h / 0.78%) 60%, #fff0 60%),
		radial-gradient(ellipse at 180% 180%, #fff0, oklch(from var(--color) 100% 76% h / 0.78%) 60%, #fff0 60%),
		linear-gradient(to top left, oklch(from var(--color) 100% 66.67% h / 6.67%), transparent),
		linear-gradient(to top right, oklch(from var(--color) 73.33% 50% h / 6.67%), transparent);
	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		height: .1rem;
		left: 0;
		right: 0;
		background-image: linear-gradient(to right in oklch, #0060, #def6, #0060);
		filter: saturate(.4);
	}
}

.jsdelivr-badge {
	filter: saturate(.8) hue-rotate(calc(345deg + var(--hue)));
	border-radius: .2em;
	width: clamp(9em, 12vw, 11em);
	@media (width < 28em) {
		display: none;
	}
}

skooma-showcase {
	--padding: .6em;
	border-radius: var(--corner-radius);
	padding: var(--padding);
	background-color: #fff1;
	--hr-color: var(--primary-4);
	tab-size: 3;
}

type-writer {
	font-weight: bold;
	&:defined::after {
		content: "|";
		opacity: 0.5;
	}
}

main {
	line-height: 1.2em;

	p {
		line-height: 1.6em;
	}
}
